* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #000000;
  background-color: #F6F6F6;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  color: #BFBFBF;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3E3E3E;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #787878;
}

.black {
  color: #000000;
  font-weight: 200;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 700px;
}

.search-component {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  max-width: 450px;
}

.search-component form {
  width: 100%;
}

.search-component input {
  border: none;
  background-color: #F6F6F6;
  border-bottom: 2px solid #979797;
  border-radius: 0;
  height: 60px;
  width: 100%;
  padding: 0 50px 0 5px;
  font-size: 28px;
  font-weight: 200;
  transition: 0.5s;
}

.search-component input::placeholder {
  color: #e4e4e4;
}

.search-component input:focus {
  outline: none;
  border-bottom: 3px solid #F5A623;
}

.search-component button {
  position: relative;
  right: -330px;
  top: -60px;
  opacity: 0.5;
  height: 60px;
  padding-top: 5px;
  border: none;
  background: none;
  transition: 0.5s;
}

.search-component button:hover {
  opacity: 1
}

.search-component button:focus {
  outline: none;
}

.results-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  margin: 0 10px 30px 10px;
}

.card header {
  margin-bottom: 10px;
}

.card img {
  border-radius: 5px;
  background-color: #BFBFBF;
  min-width: 200px;
  height: 250px;
}

.card article {
  padding: 0 20px;
}

.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rating-label {
  text-align: right;
  width: 80px;
  padding-left: 5px;
}

.rating {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.rating-percent {
  height: 10px;
  border-radius: 5px;
  background-color: #F5A623;
  width: 50%;
}

.site {
  width: 130px;
}

@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin: 0 10px 30px 10px;
  }
  .card img {
    border-radius: 5px;
    background-color: #BFBFBF;
    min-width: 200px;
    height: auto;
  }
  .rating-label {
    text-align: right;
    width: 100px;
  }
}